body {
    text-align: justify;
}

td {
    width: 70px;
    height: 70px;
}

.string__text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.number__text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

.boolean__text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

.table {
    border: 1px solid black;
    margin: 0 auto;
    width: 1300px;
    background-color: rgb(31, 41, 2);
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-collapse: collapse;
}

TD {
    border: 1px solid black;
}

.table__head {
    background-color: gray;
}
